.table-container {
  background: linear-gradient(180deg, #212c3d 0%, #101d2e 100%);
  font-size: 13px;
  font-weight: 400;
  line-height: 121.5%; /* 15.795px */
  width: 50%;
  color: #fff;
  border-radius: 10px;
  margin-left: 15%;
}
.registered-user-text {
  font-size: 21px;
  font-weight: 400;
  line-height: 121.5%; /* 15.795px */
  padding-bottom: 10px;
  padding: 15px;
  border-bottom: 2px solid #02aab0;
}
.list {
  border-bottom: 2px solid #344258;
  padding: 9px 15px;
}
.main-container {
  padding: 0 10px 14px 20px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
