.input {
  background: none;
  height: 30px;
  border: 1px solid #a1e6f6;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-top: 10px;
  margin-bottom: 17px;
  width: 60%;
}
